In [ ]:
## Getting data
!wget -O source.zip https://www.dropbox.com/s/dy8xyabnahh8onk/source.zip?dl=0
!unzip source.zip -d source

In [67]:
import pandas as pd
import plotly.plotly as py
import plotly.graph_objs as go
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('source/tareasytickets.csv')
df.head()

,NROFAVE,CODCLI,CODART,CODPP,CODOPE,CANVEN,CANOPE,CANOPESE,CANOPESEA,COSTOOPE,...,STATUSBT,STATUSDT,OBSTT,CHECKTT,FECHA,HORA,USUARIO,EQUIPO,MAC,IDFAVE
0,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,EMPLANTILLADO,12.0,12.0,0.0,0.0,400.0,...,1,1,Fecha:29/01/2016\nHora:16:46:00\nUsuario:\nNom...,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
1,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,MONTADOR,12.0,12.0,0.0,0.0,1400.0,...,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
2,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,COSTURA,12.0,12.0,0.0,0.0,450.0,...,1,1,Fecha:29/01/2016\nHora:18:29:31\nUsuario:\nNom...,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
3,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,ARMADO,12.0,12.0,0.0,0.0,1200.0,...,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
4,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,CORTADO,12.0,12.0,0.0,0.0,200.0,...,1,1,NaN,0,2016-01-25,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162

Agrupamos por Código de Operador buscando analizar la cantidad de transacciones por operador

In [2]:
df.groupby('CODOPE').count()

,NROFAVE,CODCLI,CODART,CODPP,CANVEN,CANOPE,CANOPESE,CANOPESEA,COSTOOPE,COSTOOPEC,...,STATUSBT,STATUSDT,OBSTT,CHECKTT,FECHA,HORA,USUARIO,EQUIPO,MAC,IDFAVE
CODOPE,,,,,,,,,,,,,,,,,,,,,
ARMADO,15263,15263,15913,15913,15913,15913,15913,15913,15913,15913,...,15913,15913,744,15913,15913,15913,452,15913,15913,15913
BORDADO,2325,2325,2327,2327,2327,2327,2327,2327,2327,2327,...,2327,2327,2,2327,2327,2327,45,2327,2327,2327
CONTROL PLANTA,294,294,294,294,294,294,294,294,294,294,...,294,294,0,294,294,294,0,294,294,294
CORTADO,15148,15148,15583,15583,15583,15583,15583,15583,15583,15583,...,15583,15583,785,15583,15583,15583,362,15583,15583,15583
COSTURA,15260,15260,15322,15322,15322,15322,15322,15322,15322,15322,...,15322,15322,66,15322,15322,15322,251,15322,15322,15322
DECORADO,709,709,709,709,709,709,709,709,709,709,...,709,709,0,709,709,709,56,709,709,709
EMPLANTILLADO,15210,15210,15562,15562,15562,15562,15562,15562,15562,15562,...,15562,15562,242,15562,15562,15562,343,15562,15562,15562
ESTAMPADO,677,677,677,677,677,677,677,677,677,677,...,677,677,0,677,677,677,0,677,677,677
FORRADO DE PLANTA,7818,7818,7838,7838,7838,7838,7838,7838,7838,7838,...,7838,7838,21,7838,7838,7838,30,7838,7838,7838
FORRADO DE PLANTILLAS,40,40,40,40,40,40,40,40,40,40,...,40,40,0,40,40,40,0,40,40,40
FORRADO DE TACONES,149,149,149,149,149,149,149,149,149,149,...,149,149,0,149,149,149,0,149,149,149
LASER,4288,4288,4288,4288,4288,4288,4288,4288,4288,4288,...,4288,4288,0,4288,4288,4288,140,4288,4288,4288
MONTADOR,15269,15269,15569,15569,15569,15569,15569,15569,15569,15569,...,15569,15569,384,15569,15569,15569,329,15569,15569,15569
PLANTILLAS,12387,12387,12419,12419,12419,12419,12419,12419,12419,12419,...,12419,12419,32,12419,12419,12419,243,12419,12419,12419
SELLOS,284,284,284,284,284,284,284,284,284,284,...,284,284,0,284,284,284,0,284,284,284
SUELAS,6839,6839,6854,6854,6854,6854,6854,6854,6854,6854,...,6854,6854,15,6854,6854,6854,218,6854,6854,6854

## Análisis de Columnas

In [3]:
# Profundidad de las filas
a,b = 0,10

# Decodificación de Columnas
CODCLI = 'Código de Cliente'
CODART = 'Código de Articulo'
CODPP  = 'Código Procesos de Producción'
CODOPE = 'Código de Procesos'
CANVEN = 'Cantidad Pedido'
CANOPESE = 'Cantidad Operaciones Sin Elaborar'
CANOPE = 'Cantidad Operaciones'
CANOPESEA = 'Cantidad Operaciones sin Elaborar Alta'
COSTOOPE = 'Costo Operación Cuando se Crea'
COSTOOPEC = 'Costo Operación'
TICKET = 'Código de Barras Ticket'
NROORDP = 'Número de Pedido'
NROINV = 'Número de Plantilla o Lote'
FECINV = 'Fecha Plantilla'
NROPLA = 'Número de Planificación'
FECPLA = 'Fecha Planificación'
FECHATICK = 'Fecha cuando se guarda el Ticket'
HORATICK = 'Hora cuando se guarda el Ticket'
CODPER = 'Código Personal'
FECHAITT = 'Fecha Inicio Tarea'
HORAFTT = 'Hora Fin Tarea'
CODOPEPTT = 'Código de Operación Parada'
FECHAPTT = 'Fecha Tarea Parada'
HORAPTT = 'Hora Tarea Parada'
STATUSN = 'Estado Nómina'
FECHAIOPE = 'Fecha Inicio Operacion'
HORAIOPE = 'Horario Inicio Operación'
FECHAFOPE = 'Fecha Fin Operación'
HORAFOPE = 'Hora Fin Operación'
NROFACT = 'Número Factura'
FECFACT = 'Fecha Factura'
STATUSF = 'Estado si es 0 se facturó todo'
CANTICKIMP = 'Cantidad Tickets Impresos'
FECTICKIMP = 'Fecha cuando se imprime el Ticket'
DESNMAT1 = 'Nota Material 1'
FECHA = 'Fecha'
HORA = 'Hora'
IDFAVE = 'Id del Articulo Detalle de Ventas'

In [4]:
df.iloc[a:b,:10]

,NROFAVE,CODCLI,CODART,CODPP,CODOPE,CANVEN,CANOPE,CANOPESE,CANOPESEA,COSTOOPE
0,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,EMPLANTILLADO,12.0,12.0,0.0,0.0,400.0
1,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,MONTADOR,12.0,12.0,0.0,0.0,1400.0
2,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,COSTURA,12.0,12.0,0.0,0.0,450.0
3,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,ARMADO,12.0,12.0,0.0,0.0,1200.0
4,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,CORTADO,12.0,12.0,0.0,0.0,200.0
5,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,ESTAMPADO,12.0,12.0,0.0,0.0,200.0
6,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,SELLOS,12.0,12.0,0.0,0.0,0.0
7,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,FORRADO DE PLANTA,12.0,12.0,0.0,0.0,500.0
8,PE00000001,057,20610501010,CANOA CONFORT AL CORTE,PLANTILLAS,12.0,12.0,0.0,0.0,0.0
9,PE00000001,057,20614801010,CANOA CONFORT AL CORTE,EMPLANTILLADO,12.0,12.0,0.0,0.0,400.0

**Columnas Relevantes: **
CODCLI, CODPP, CODOPE, CANVEN, CANOPE, COSTOOPE

In [5]:
df.iloc[a:b,10:20]

,COSTOOPEC,TICKET,NROORDP,NROINV,FECINV,NROPLA,FECPLA,NROTICK,NROTICKC,FECHATICK
0,400.0,10003201001,0,0,2008-01-01,0,2008-01-01,1,1,2016-01-25
1,1400.0,10003202001,0,0,2008-01-01,0,2008-01-01,1,1,2016-01-25
2,450.0,10003203001,0,0,2008-01-01,0,2008-01-01,1,1,2016-01-25
3,1200.0,10003204001,0,0,2008-01-01,0,2008-01-01,1,1,2016-01-25
4,200.0,10003205001,0,0,2008-01-01,0,2008-01-01,1,1,2016-01-25
5,200.0,10003206001,0,0,2008-01-01,0,2008-01-01,1,1,2016-01-25
6,0.0,10003207001,0,0,2008-01-01,0,2008-01-01,1,1,2016-01-25
7,500.0,10003208001,0,0,2008-01-01,0,2008-01-01,1,1,2016-01-25
8,0.0,10003209001,0,0,2008-01-01,0,2008-01-01,1,1,2016-01-25
9,400.0,10003201002,0,0,2008-01-01,0,2008-01-01,2,2,2016-01-25

**Columnas Relevantes: **
COSTOOPEC, TICKET, NROTICK, FECHATICK

+ ¿Qué diferencia hay entre TICKET y NROTICKC?
+ ¿Porqué FECINV, FECPLA es diferente de FECHATICK?

In [6]:
df.iloc[a:b,20:30]

,HORATICK,CODPER,FECHAITT,HORAITT,USUARIOITT,EQUIPOITT,MACITT,FECHAFTT,HORAFTT,USUARIOFTT
0,11:04:13,G-02,2008-01-01,NaN,NaN,NaN,NaN,2016-01-29,16:48:41,NaN
1,11:04:13,012,2008-01-01,NaN,NaN,NaN,NaN,2016-01-29,13:41:54,NaN
2,11:04:13,005,2008-01-01,NaN,NaN,NaN,NaN,2016-01-29,18:29:57,NaN
3,11:04:13,002,2016-01-29,18:46:26,NaN,Servidor-PC,NaN,2016-01-29,18:47:44,NaN
4,11:04:13,003,2016-01-29,17:18:21,NaN,Servidor-PC,NaN,2016-01-30,12:33:02,NaN
5,11:04:13,NaN,2008-01-01,NaN,NaN,NaN,NaN,2008-01-01,NaN,NaN
6,11:04:13,NaN,2008-01-01,NaN,NaN,NaN,NaN,2008-01-01,NaN,NaN
7,11:04:13,13717511,2008-01-01,NaN,NaN,NaN,NaN,2016-01-28,17:40:16,2015
8,11:04:13,NaN,2008-01-01,NaN,NaN,NaN,NaN,2008-01-01,NaN,NaN
9,11:04:16,G-02,2008-01-01,NaN,NaN,NaN,NaN,2016-01-29,16:49:17,NaN

**Columnas Relevantes: **
HORATICK, FECHAITT, HORAITT, FECHAFTT, HORAFTT

+ ¿Qué es CODPER, ITT?
+ ¿Porqué el salto tan abrupto en FECHAFTT?

In [7]:
df.iloc[a:b,30:40]

,EQUIPOFTT,MACFTT,CODOPEPTT,FECHAPTT,HORAPTT,STATUSN,NRONOMI,FECHAIOPE,HORAIOPE,FECHAFOPE
0,Servidor-PC,NaN,NaN,2008-01-01,NaN,2,21,2016-01-28,17:40:16,2016-01-29
1,Servidor-PC,NaN,NaN,2008-01-01,NaN,2,11,2016-01-28,17:40:16,2016-01-29
2,Servidor-PC,NaN,NaN,2008-01-01,NaN,2,9,2016-01-28,17:40:16,2016-01-29
3,Servidor-PC,NaN,NaN,2008-01-01,NaN,2,5,2016-01-28,17:40:16,2016-01-29
4,Servidor-PC,NaN,CORTADO,2016-01-30,12:33:02,2,15,2016-01-28,17:40:16,2016-01-29
5,NaN,NaN,NaN,2008-01-01,NaN,1,0,2016-01-28,17:40:16,2016-01-29
6,NaN,NaN,NaN,2008-01-01,NaN,1,0,2016-01-28,17:40:16,2016-01-29
7,Servidor-PC,NaN,NaN,2008-01-01,NaN,2,4,2016-01-28,17:40:16,2016-01-29
8,NaN,NaN,NaN,2008-01-01,NaN,1,0,2016-01-28,17:40:16,2016-01-29
9,Servidor-PC,NaN,NaN,2008-01-01,NaN,2,21,2016-01-28,17:40:11,2016-01-29

**Columnas Relevantes: **
FECHAIOPE, HORAIOPE, FECHAFOPE

+ ¿Qué es PTT?
+ ¿Porqué sólo hay un registro en HORAPTT?

In [8]:
df.iloc[a:b,40:50]

,HORAFOPE,NROFACT,FECFACT,STATUSF,CANTICKIMP,FECTICKIMP,FECRTICKIMP,IDPROTICKETS,TALLA00,TALLA01
0,16:48:41,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,1,0,0
1,16:48:41,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,2,0,0
2,16:48:41,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,3,0,0
3,16:48:41,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,4,0,0
4,16:48:41,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,5,0,0
5,16:48:41,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,6,0,0
6,16:48:41,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,7,0,0
7,16:48:41,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,8,0,0
8,16:48:41,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,9,0,0
9,16:49:17,NaN,2008-01-01,1,1,2016-01-25,2008-01-01,10,0,0

**Columnas Relevantes: **
HORAFOPE, IDPROTICKETS

+ ¿Porqué FECFACT, FECRTICKIMP tiene un registro tan antiguo?
+ ¿Porqué FECINV, FECPLA es diferente de FECHATICK?

In [9]:
df.iloc[a:b,50:60]

,TALLA02,TALLA03,TALLA04,TALLA05,TALLA06,TALLA07,TALLA08,TALLA09,TALLA10,TALLA11
0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0

In [10]:
df.iloc[a:b,60:70]

,TALLA12,TALLA13,TALLA14,TALLA15,TALLA16,TALLA17,TALLA18,TALLA19,TALLA20,TALLA21
0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0

In [11]:
df.iloc[a:b,70:80]

,TALLA22,TALLA23,TALLA24,TALLA25,TALLA26,TALLA27,TALLA28,TALLA29,TALLA30,TALLA31
0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0

In [12]:
df.iloc[a:b,90:100]

,TALLA42,TALLA43,TALLA44,TALLA45,TALLA46,TALLA47,TALLA48,TALLA49,TALLA50,TALLA51
0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0

In [13]:
df.iloc[a:b,100:110]

,TALLA52,TALLA53,TALLA54,TALLA55,TALLA56,CODART1,CANART1,CODART2,CANART2,CODART3
0,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN
1,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN
2,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN
3,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN
4,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN
5,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN
6,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN
7,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN
8,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN
9,0,0,0,0,0,NaN,0.0,NaN,0.0,NaN

In [14]:
df.iloc[a:b,110:120]

,CANART3,CODART4,CANART4,CODART5,CANART5,CODART6,CANART6,CODART7,CANART7,CODART8
0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
1,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
2,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
3,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
4,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
5,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
6,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
7,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
8,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
9,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN

In [15]:
df.iloc[a:b,120:130]

,CANART8,CODART9,CANART9,CODART10,CANART10,CODART11,CANART11,CODART12,CANART12,CODART13
0,0.0,NaN,0.0,NaN,0.0,16.0,2.0,NaN,0.0,NaN
1,0.0,NaN,0.0,NaN,0.0,16.0,2.0,NaN,0.0,NaN
2,0.0,NaN,0.0,NaN,0.0,16.0,2.0,NaN,0.0,NaN
3,0.0,NaN,0.0,NaN,0.0,16.0,2.0,NaN,0.0,NaN
4,0.0,NaN,0.0,NaN,0.0,16.0,2.0,NaN,0.0,NaN
5,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
6,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
7,0.0,NaN,0.0,NaN,0.0,16.0,2.0,NaN,0.0,NaN
8,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
9,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN

In [16]:
df.iloc[a:b,130:140]

,CANART13,CODART14,CANART14,CODART15,CANART15,CODART16,CANART16,CODART17,CANART17,CODART18
0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
1,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
2,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
3,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
4,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
5,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
6,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
7,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
8,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN
9,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN

In [17]:
df.iloc[a:b,140:150]

,CANART18,CODART19,CANART19,CODART20,CANART20,TALLAISB1,TALLAISB2,TALLAISB3,TALLAISB4,TALLAISB5
0,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1
1,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1
2,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1
3,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1
4,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1
5,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1
6,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1
7,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1
8,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1
9,0.0,NaN,0.0,NaN,0.0,1,1,1,1,1

In [18]:
df.iloc[a:b,150:160]

,TALLAISB6,TALLAISB7,TALLAISB8,TALLAISB9,TALLAISB10,TALLAISB11,TALLAISB12,TALLAISB13,TALLAISB14,TALLAISB15
0,1,1,1,1,1,1,1,1,1,1
1,1,1,1,1,1,1,1,1,1,1
2,1,1,1,1,1,1,1,1,1,1
3,1,1,1,1,1,1,1,1,1,1
4,1,1,1,1,1,1,1,1,1,1
5,1,1,1,1,1,1,1,1,1,1
6,1,1,1,1,1,1,1,1,1,1
7,1,1,1,1,1,1,1,1,1,1
8,1,1,1,1,1,1,1,1,1,1
9,1,1,1,1,1,1,1,1,1,1

In [19]:
df.iloc[a:b,160:170]

,TALLAISB16,TALLAISB17,TALLAISB18,TALLAISB19,TALLAISB20,PARTES1,PARTES2,PARTES3,PARTES4,PARTES5
0,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN
1,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN
2,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN
3,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN
4,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN
5,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN
6,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN
7,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN
8,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN
9,1,1,1,1,1,NaN,NaN,NaN,NaN,NaN

In [20]:
df.iloc[a:b,170:180]

,PARTES6,PARTES7,PARTES8,PARTES9,PARTES10,PARTES11,PARTES12,PARTES13,PARTES14,PARTES15
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df.iloc[a:b,180:190]

,PARTES16,PARTES17,PARTES18,PARTES19,PARTES20,PARTESP1,PARTESP2,PARTESP3,PARTESP4,PARTESP5
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df.iloc[a:b,190:200]

,PARTESP6,PARTESP7,PARTESP8,PARTESP9,PARTESP10,PARTESP11,PARTESP12,PARTESP13,PARTESP14,PARTESP15
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df.iloc[a:b,200:210]

,PARTESP16,PARTESP17,PARTESP18,PARTESP19,PARTESP20,DESNMAT1,DESNMAT2,DESNMAT3,DESNMAT4,MATERIALES
0,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,FUCSIA FUCSIA,NaN,NaN,NaN,NaN

In [24]:
df.iloc[a:b,210:220]

,DESSER,DESDA,DESOPE,STATUSPT,STATUSTA,STATUSBT,STATUSDT,OBSTT,CHECKTT,FECHA
0,NaN,NaN,NaN,1,1,1,1,Fecha:29/01/2016\nHora:16:46:00\nUsuario:\nNom...,0,2016-01-25
1,NaN,NaN,NaN,1,1,1,1,NaN,0,2016-01-25
2,NaN,NaN,NaN,1,1,1,1,Fecha:29/01/2016\nHora:18:29:31\nUsuario:\nNom...,0,2016-01-25
3,NaN,NaN,NaN,1,1,1,1,NaN,0,2016-01-25
4,NaN,NaN,NaN,1,1,1,1,NaN,0,2016-01-25
5,NaN,NaN,NaN,1,0,1,1,NaN,0,2016-01-25
6,NaN,NaN,NaN,1,0,1,1,NaN,0,2016-01-25
7,NaN,NaN,NaN,1,1,1,1,NaN,0,2016-01-25
8,NaN,NaN,NaN,1,0,1,1,NaN,0,2016-01-25
9,NaN,NaN,NaN,1,1,1,1,Fecha:29/01/2016\nHora:16:46:29\nUsuario:\nNom...,0,2016-01-25

In [25]:
df.iloc[a:b,220:225]

,HORA,USUARIO,EQUIPO,MAC,IDFAVE
0,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
1,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
2,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
3,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
4,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
5,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
6,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
7,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
8,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",162
9,11:04:00,NaN,Lenovo-PC,"00-FF-BF-C2-8E-52, AC-D1-B8-66-58-6B, AC-D1-B8...",163

**Columnas Relevantes: **
HORA

+ ¿Hay registros en USUARIO?

## Filtramos Columnas más Relevantes

In [26]:
relevantes = ['CODCLI', 'CODPP', 'CODOPE', 'CANVEN', 'CANOPE', 'COSTOOPE', 'COSTOOPEC', 'TICKET', 'NROTICK', 'FECHATICK', 'HORATICK', 'FECHAITT', 'HORAITT', 'FECHAFTT', 'HORAFTT', 'FECHAIOPE', 'HORAIOPE', 'FECHAFOPE', 'HORAFOPE', 'IDPROTICKETS', 'FECHA', 'HORA']
df2 = df[relevantes]
df2.iloc[:10,:]

,CODCLI,CODPP,CODOPE,CANVEN,CANOPE,COSTOOPE,COSTOOPEC,TICKET,NROTICK,FECHATICK,...,HORAITT,FECHAFTT,HORAFTT,FECHAIOPE,HORAIOPE,FECHAFOPE,HORAFOPE,IDPROTICKETS,FECHA,HORA
0,057,CANOA CONFORT AL CORTE,EMPLANTILLADO,12.0,12.0,400.0,400.0,10003201001,1,2016-01-25,...,NaN,2016-01-29,16:48:41,2016-01-28,17:40:16,2016-01-29,16:48:41,1,2016-01-25,11:04:00
1,057,CANOA CONFORT AL CORTE,MONTADOR,12.0,12.0,1400.0,1400.0,10003202001,1,2016-01-25,...,NaN,2016-01-29,13:41:54,2016-01-28,17:40:16,2016-01-29,16:48:41,2,2016-01-25,11:04:00
2,057,CANOA CONFORT AL CORTE,COSTURA,12.0,12.0,450.0,450.0,10003203001,1,2016-01-25,...,NaN,2016-01-29,18:29:57,2016-01-28,17:40:16,2016-01-29,16:48:41,3,2016-01-25,11:04:00
3,057,CANOA CONFORT AL CORTE,ARMADO,12.0,12.0,1200.0,1200.0,10003204001,1,2016-01-25,...,18:46:26,2016-01-29,18:47:44,2016-01-28,17:40:16,2016-01-29,16:48:41,4,2016-01-25,11:04:00
4,057,CANOA CONFORT AL CORTE,CORTADO,12.0,12.0,200.0,200.0,10003205001,1,2016-01-25,...,17:18:21,2016-01-30,12:33:02,2016-01-28,17:40:16,2016-01-29,16:48:41,5,2016-01-25,11:04:00
5,057,CANOA CONFORT AL CORTE,ESTAMPADO,12.0,12.0,200.0,200.0,10003206001,1,2016-01-25,...,NaN,2008-01-01,NaN,2016-01-28,17:40:16,2016-01-29,16:48:41,6,2016-01-25,11:04:00
6,057,CANOA CONFORT AL CORTE,SELLOS,12.0,12.0,0.0,0.0,10003207001,1,2016-01-25,...,NaN,2008-01-01,NaN,2016-01-28,17:40:16,2016-01-29,16:48:41,7,2016-01-25,11:04:00
7,057,CANOA CONFORT AL CORTE,FORRADO DE PLANTA,12.0,12.0,500.0,500.0,10003208001,1,2016-01-25,...,NaN,2016-01-28,17:40:16,2016-01-28,17:40:16,2016-01-29,16:48:41,8,2016-01-25,11:04:00
8,057,CANOA CONFORT AL CORTE,PLANTILLAS,12.0,12.0,0.0,0.0,10003209001,1,2016-01-25,...,NaN,2008-01-01,NaN,2016-01-28,17:40:16,2016-01-29,16:48:41,9,2016-01-25,11:04:00
9,057,CANOA CONFORT AL CORTE,EMPLANTILLADO,12.0,12.0,400.0,400.0,10003201002,2,2016-01-25,...,NaN,2016-01-29,16:49:17,2016-01-28,17:40:11,2016-01-29,16:49:17,10,2016-01-25,11:04:00

In [69]:
df = df[relevantes]
df['TIMESTAMP'] = pd.to_datetime(df['FECHA'] + ' ' + df['HORA'])
df = df.set_index('TIMESTAMP')
df

/home/miguel/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,CODCLI,CODPP,CODOPE,CANVEN,CANOPE,COSTOOPE,COSTOOPEC,TICKET,NROTICK,FECHATICK,...,HORAITT,FECHAFTT,HORAFTT,FECHAIOPE,HORAIOPE,FECHAFOPE,HORAFOPE,IDPROTICKETS,FECHA,HORA
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2016-01-25 11:04:00,057,CANOA CONFORT AL CORTE,EMPLANTILLADO,12.0,12.0,400.0,400.0,10003201001,1,2016-01-25,...,NaN,2016-01-29,16:48:41,2016-01-28,17:40:16,2016-01-29,16:48:41,1,2016-01-25,11:04:00
2016-01-25 11:04:00,057,CANOA CONFORT AL CORTE,MONTADOR,12.0,12.0,1400.0,1400.0,10003202001,1,2016-01-25,...,NaN,2016-01-29,13:41:54,2016-01-28,17:40:16,2016-01-29,16:48:41,2,2016-01-25,11:04:00
2016-01-25 11:04:00,057,CANOA CONFORT AL CORTE,COSTURA,12.0,12.0,450.0,450.0,10003203001,1,2016-01-25,...,NaN,2016-01-29,18:29:57,2016-01-28,17:40:16,2016-01-29,16:48:41,3,2016-01-25,11:04:00
2016-01-25 11:04:00,057,CANOA CONFORT AL CORTE,ARMADO,12.0,12.0,1200.0,1200.0,10003204001,1,2016-01-25,...,18:46:26,2016-01-29,18:47:44,2016-01-28,17:40:16,2016-01-29,16:48:41,4,2016-01-25,11:04:00
2016-01-25 11:04:00,057,CANOA CONFORT AL CORTE,CORTADO,12.0,12.0,200.0,200.0,10003205001,1,2016-01-25,...,17:18:21,2016-01-30,12:33:02,2016-01-28,17:40:16,2016-01-29,16:48:41,5,2016-01-25,11:04:00
2016-01-25 11:04:00,057,CANOA CONFORT AL CORTE,ESTAMPADO,12.0,12.0,200.0,200.0,10003206001,1,2016-01-25,...,NaN,2008-01-01,NaN,2016-01-28,17:40:16,2016-01-29,16:48:41,6,2016-01-25,11:04:00
2016-01-25 11:04:00,057,CANOA CONFORT AL CORTE,SELLOS,12.0,12.0,0.0,0.0,10003207001,1,2016-01-25,...,NaN,2008-01-01,NaN,2016-01-28,17:40:16,2016-01-29,16:48:41,7,2016-01-25,11:04:00
2016-01-25 11:04:00,057,CANOA CONFORT AL CORTE,FORRADO DE PLANTA,12.0,12.0,500.0,500.0,10003208001,1,2016-01-25,...,NaN,2016-01-28,17:40:16,2016-01-28,17:40:16,2016-01-29,16:48:41,8,2016-01-25,11:04:00
2016-01-25 11:04:00,057,CANOA CONFORT AL CORTE,PLANTILLAS,12.0,12.0,0.0,0.0,10003209001,1,2016-01-25,...,NaN,2008-01-01,NaN,2016-01-28,17:40:16,2016-01-29,16:48:41,9,2016-01-25,11:04:00
2016-01-25 11:04:00,057,CANOA CONFORT AL CORTE,EMPLANTILLADO,12.0,12.0,400.0,400.0,10003201002,2,2016-01-25,...,NaN,2016-01-29,16:49:17,2016-01-28,17:40:11,2016-01-29,16:49:17,10,2016-01-25,11:04:00
2016-01-25 11:04:00,057,CANOA CONFORT AL CORTE,MONTADOR,12.0,12.0,1400.0,1400.0,10003202002,2,2016-01-25,...,NaN,2016-01-29,14:00:02,2016-01-28,17:40:11,2016-01-29,16:49:17,11,2016-01-25,11:04:00
2016-01-25 11:04:00,057,CANOA CONFORT AL CORTE,COSTURA,12.0,12.0,450.0,450.0,10003203002,2,2016-01-25,...,NaN,2016-01-29,18:29:43,2016-01-28,17:40:11,2016-01-29,16:49:17,12,2016-01-25,11:04:00
2016-01-25 11:04:00,057,CANOA CONFORT AL CORTE,ARMADO,12.0,12.0,1200.0,1200.0,10003204002,2,2016-01-25,...,18:46:31,2016-01-29,18:47:40,2016-01-28,17:40:11,2016-01-29,16:49:17,13,2016-01-25,11:04:00
2016-01-25 11:04:00,057,CANOA CONFORT AL CORTE,CORTADO,12.0,12.0,200.0,200.0,10003205002,2,2016-01-25,...,17:18:24,2016-01-30,12:33:04,2016-01-28,17:40:11,2016-01-29,16:49:17,14,2016-01-25,11:04:00
2016-01-25 11:04:00,057,CANOA CONFORT AL CORTE,ESTAMPADO,12.0,12.0,200.0,200.0,10003206002,2,2016-01-25,...,NaN,2008-01-01,NaN,2016-01-28,17:40:11,2016-01-29,16:49:17,15,2016-01-25,11:04:00
2016-01-25 11:04:00,057,CANOA CONFORT AL CORTE,SELLOS,12.0,12.0,0.0,0.0,10003207002,2,2016-01-25,...,NaN,2008-01-01,NaN,2016-01-28,17:40:11,2016-01-29,16:49:17,16,2016-01-25,11:04:00
2016-01-25 11:04:00,057,CANOA CONFORT AL CORTE,FORRADO DE PLANTA,12.0,12.0,500.0,500.0,10003208002,2,2016-01-25,...,NaN,2016-01-28,17:40:11,2016-01-28,17:40:11,2016-01-29,16:49:17,17,2016-01-25,11:04:00
2016-01-25 11:04:00,057,CANOA CONFORT AL CORTE,PLANTILLAS,12.0,12.0,0.0,0.0,10003209002,2,2016-01-25,...,NaN,2008-01-01,NaN,2016-01-28,17:40:11,2016-01-29,16:49:17,18,2016-01-25,11:04:00
2016-01-25 11:04:00,057,CANOA CONFORT AL CORTE,EMPLANTILLADO,10.0,10.0,400.0,400.0,10003201003,3,2016-01-25,...,NaN,2016-01-29,16:46:58,2016-01-28,17:41:23,2016-01-29,16:46:58,19,2016-01-25,11:04:00
2016-01-25 11:04:00,057,CANOA CONFORT AL CORTE,MONTADOR,10.0,10.0,1400.0,1400.0,10003202003,3,2016-01-25,...,NaN,2016-01-29,13:42:07,2016-01-28,17:41:23,2016-01-29,16:46:58,20,2016-01-25,11:04:00
2016-01-25 11:04:00,057,CANOA CONFORT AL CORTE,COSTURA,10.0,10.0,450.0,450.0,10003203003,3,2016-01-25,...,NaN,2016-01-29,18:28:46,2016-01-28,17:41:23,2016-01-29,16:46:58,21,2016-01-25,11:04:00
2016-01-25 11:04:00,057,CANOA CONFORT AL CORTE,ARMADO,10.0,10.0,1200.0,1200.0,10003204003,3,2016-01-25,...,11:37:08,2016-01-30,12:49:22,2016-01-28,17:41:23,2016-01-29,16:46:58,22,2016-01-25,11:04:00
2016-01-25 11:04:00,057,CANOA CONFORT AL CORTE,CORTADO,10.0,10.0,200.0,200.0,10003205003,3,2016-01-25,...,17:19:03,2016-01-30,12:33:23,2016-01-28,17:41:23,2016-01-29,16:46:58,23,2016-01-25,11:04:00
2016-01-25 11:04:00,057,CANOA CONFORT AL CORTE,ESTAMPADO,10.0,10.0,200.0,200.0,10003206003,3,2016-01-25,...,NaN,2008-01-01,NaN,2016-01-28,17:41:23,2016-01-29,16:46:58,24,2016-01-25,11:04:00
2016-01-25 11:04:00,057,CANOA CONFORT AL CORTE,SELLOS,10.0,10.0,0.0,0.0,10003207003,3,2016-01-25,...,NaN,2008-01-01,NaN,2016-01-28,17:41:23,2016-01-29,16:46:58,25,2016-01-25,11:04:00
2016-01-25 11:04:00,057,CANOA CONFORT AL CORTE,FORRADO DE PLANTA,10.0,10.0,500.0,500.0,10003208003,3,2016-01-25,...,NaN,2016-01-28,17:41:23,2016-01-28,17:41:23,2016-01-29,16:46:58,26,2016-01-25,11:04:00
2016-01-25 11:04:00,057,CANOA CONFORT AL CORTE,PLANTILLAS,10.0,10.0,0.0,0.0,10003209003,3,2016-01-25,...,NaN,2008-01-01,NaN,2016-01-28,17:41:23,2016-01-29,16:46:58,27,2016-01-25,11:04:00
2016-01-25 11:04:32,154,CANOA CONFORT AL CORTE,EMPLANTILLADO,12.0,12.0,400.0,400.0,10003301001,4,2016-01-25,...,NaN,2016-01-29,16:47:55,2016-01-28,17:38:49,2016-01-29,16:47:55,28,2016-01-25,11:04:32
2016-01-25 11:04:32,154,CANOA CONFORT AL CORTE,MONTADOR,12.0,12.0,1400.0,1400.0,10003302001,4,2016-01-25,...,NaN,2016-01-30,10:50:37,2016-01-28,17:38:49,2016-01-29,16:47:55,29,2016-01-25,11:04:32
2016-01-25 11:04:32,154,CANOA CONFORT AL CORTE,COSTURA,12.0,12.0,450.0,450.0,10003303001,4,2016-01-25,...,NaN,2016-01-29,18:29:46,2016-01-28,17:38:49,2016-01-29,16:47:55,30,2016-01-25,11:04:32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-10-13 15:10:10,053,PLANA HERRAJE 2017,COSTURA,13.0,13.0,520.0,520.0,10747903008,14993,2017-10-13,...,NaN,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113808,2017-10-13,15:10:10
2017-10-13 15:10:10,053,PLANA HERRAJE 2017,ARMADO,13.0,13.0,1350.0,1350.0,10747904008,14993,2017-10-13,...,NaN,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113809,2017-10-13,15:10:10
2017-10-13 15:10:10,053,PLANA HERRAJE 2017,CORTADO,13.0,13.0,400.0,400.0,10747905008,14993,2017-10-13,...,NaN,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113810,2017-10-13,15:10:10
2017-10-13 15:10:10,053,PLANA HERRAJE 2017,SUELAS,13.0,13.0,200.0,200.0,10747906008,14993,2017-10-13,...,NaN,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113811,2017-10-13,15:10:10
2017-10-13 15:10:10,053,PLANA HERRAJE 2017,LASER,13.0,13.0,0.0,0.0,10747907008,14993,2017-10-13,...,NaN,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113812,2017-10-13,15:10:10
2017-10-13 15:10:10,053,PLANA HERRAJE 2017,PLANTILLAS,13.0,13.0,0.0,0.0,10747908008,14993,2017-10-13,...,NaN,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113813,2017-10-13,15:10:10
2017-10-13 15:10:10,053,PLANA HERRAJE 2017,EMPLANTILLADO,13.0,13.0,400.0,400.0,10747901009,14992,2017-10-13,...,NaN,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113814,2017-10-13,15:10:10
2017-10-13 15:10:10,053,PLANA HERRAJE 2017,MONTADOR,13.0,13.0,1450.0,1450.0,10747902009,14992,2017-10-13,...,NaN,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113815,2017-10-13,15:10:10
2017-10-13 15:10:10,053,PLANA HERRAJE 2017,COSTURA,13.0,13.0,520.0,520.0,10747903009,14992,2017-10-13,...,NaN,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113816,2017-10-13,15:10:10
2017-10-13 15:10:11,053,PLANA HERRAJE 2017,ARMADO,13.0,13.0,1350.0,1350.0,10747904009,14992,2017-10-13,...,NaN,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113817,2017-10-13,15:10:11
2017-10-13 15:10:11,053,PLANA HERRAJE 2017,CORTADO,13.0,13.0,400.0,400.0,10747905009,14992,2017-10-13,...,NaN,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113818,2017-10-13,15:10:11
2017-10-13 15:10:11,053,PLANA HERRAJE 2017,SUELAS,13.0,13.0,200.0,200.0,10747906009,14992,2017-10-13,...,NaN,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113819,2017-10-13,15:10:11
2017-10-13 15:10:11,053,PLANA HERRAJE 2017,LASER,13.0,13.0,0.0,0.0,10747907009,14992,2017-10-13,...,NaN,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113820,2017-10-13,15:10:11
2017-10-13 15:10:11,053,PLANA HERRAJE 2017,PLANTILLAS,13.0,13.0,0.0,0.0,10747908009,14992,2017-10-13,...,NaN,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113821,2017-10-13,15:10:11
2017-10-13 15:10:11,053,PLANA HERRAJE 2017,EMPLANTILLADO,13.0,13.0,400.0,400.0,10747901010,14991,2017-10-13,...,NaN,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113822,2017-10-13,15:10:11
2017-10-13 15:10:11,053,PLANA HERRAJE 2017,MONTADOR,13.0,13.0,1450.0,1450.0,10747902010,14991,2017-10-13,...,NaN,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113823,2017-10-13,15:10:11
2017-10-13 15:10:11,053,PLANA HERRAJE 2017,COSTURA,13.0,13.0,520.0,520.0,10747903010,14991,2017-10-13,...,NaN,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113824,2017-10-13,15:10:11
2017-10-13 15:10:11,053,PLANA HERRAJE 2017,ARMADO,13.0,13.0,1350.0,1350.0,10747904010,14991,2017-10-13,...,NaN,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113825,2017-10-13,15:10:11
2017-10-13 15:10:12,053,PLANA HERRAJE 2017,CORTADO,13.0,13.0,400.0,400.0,10747905010,14991,2017-10-13,...,NaN,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113826,2017-10-13,15:10:12
2017-10-13 15:10:12,053,PLANA HERRAJE 2017,SUELAS,13.0,13.0,200.0,200.0,10747906010,14991,2017-10-13,...,NaN,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113827,2017-10-13,15:10:12
2017-10-13 15:10:12,053,PLANA HERRAJE 2017,LASER,13.0,13.0,0.0,0.0,10747907010,14991,2017-10-13,...,NaN,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113828,2017-10-13,15:10:12
2017-10-13 15:10:12,053,PLANA HERRAJE 2017,PLANTILLAS,13.0,13.0,0.0,0.0,10747908010,14991,2017-10-13,...,NaN,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113829,2017-10-13,15:10:12
2017-10-13 15:10:12,053,LASER,EMPLANTILLADO,13.0,13.0,400.0,400.0,10747901011,14990,2017-10-13,...,NaN,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113830,2017-10-13,15:10:12
2017-10-13 15:10:12,053,LASER,MONTADOR,13.0,13.0,1450.0,1450.0,10747902011,14990,2017-10-13,...,NaN,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113831,2017-10-13,15:10:12
2017-10-13 15:10:12,053,LASER,COSTURA,13.0,13.0,520.0,520.0,10747903011,14990,2017-10-13,...,NaN,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113832,2017-10-13,15:10:12
2017-10-13 15:10:12,053,LASER,ARMADO,13.0,13.0,1250.0,1250.0,10747904011,14990,2017-10-13,...,NaN,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113833,2017-10-13,15:10:12
2017-10-13 15:10:13,053,LASER,CORTADO,13.0,13.0,400.0,400.0,10747905011,14990,2017-10-13,...,NaN,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113834,2017-10-13,15:10:13
2017-10-13 15:10:13,053,LASER,SUELAS,13.0,13.0,200.0,200.0,10747906011,14990,2017-10-13,...,NaN,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113835,2017-10-13,15:10:13
2017-10-13 15:10:13,053,LASER,PLANTILLAS,13.0,13.0,0.0,0.0,10747907011,14990,2017-10-13,...,NaN,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113836,2017-10-13,15:10:13
2017-10-13 15:10:13,053,LASER,LASER,13.0,13.0,0.0,0.0,10747908011,14990,2017-10-13,...,NaN,2008-01-01,NaN,2008-01-01,NaN,2008-01-01,NaN,113837,2017-10-13,15:10:13

In [45]:
def plot_time_line(df):

    data = [go.Scatter(
              x=df.index,
              y=df['COSTOOPE'])]

    return py.iplot(data)

## Filtramos por Año

Analizamos la cantidad de transacciones por cada año

In [63]:
plot_time_line(df["2016"].groupby('FECHA').count())

In [48]:
plot_time_line(df["2017"].groupby('FECHA').count())

## Filtramos por Mes

In [81]:
df.groupby(pd.TimeGrouper(freq='M')).count()

,CODCLI,CODPP,CODOPE,CANVEN,CANOPE,COSTOOPE,COSTOOPEC,TICKET,NROTICK,FECHATICK,...,HORAITT,FECHAFTT,HORAFTT,FECHAIOPE,HORAIOPE,FECHAFOPE,HORAFOPE,IDPROTICKETS,FECHA,HORA
TIMESTAMP,,,,,,,,,,,,,,,,,,,,,
2016-01-31,693,757,757,757,757,757,757,757,757,757,...,153,757,424,757,661,757,642,757,757,757
2016-02-29,4416,4467,4467,4467,4467,4467,4467,4467,4467,4467,...,1021,4467,2653,4467,3635,4467,3073,4467,4467,4467
2016-03-31,4379,4438,4438,4438,4438,4438,4438,4438,4438,4438,...,810,4438,3171,4438,4324,4438,4130,4438,4438,4438
2016-04-30,3683,3755,3755,3755,3755,3755,3755,3755,3755,3755,...,1024,3755,3004,3755,3580,3755,3378,3755,3755,3755
2016-05-31,2274,2318,2318,2318,2318,2318,2318,2318,2318,2318,...,648,2318,1894,2318,2267,2318,2090,2318,2318,2318
2016-06-30,4467,4502,4502,4502,4502,4502,4502,4502,4502,4502,...,1354,4502,3840,4502,4377,4502,3821,4502,4502,4502
2016-07-31,4304,4336,4336,4336,4336,4336,4336,4336,4336,4336,...,957,4336,3395,4336,3832,4336,3623,4336,4336,4336
2016-08-31,6754,6802,6802,6802,6802,6802,6802,6802,6802,6802,...,914,6802,5116,6802,5968,6802,5853,6802,6802,6802
2016-09-30,9104,9196,9196,9196,9196,9196,9196,9196,9196,9196,...,1074,9196,6113,9196,7867,9196,7656,9196,9196,9196
2016-10-31,8796,8873,8873,8873,8873,8873,8873,8873,8873,8873,...,1162,8873,6560,8873,8226,8873,8153,8873,8873,8873
2016-11-30,8531,8708,8708,8708,8708,8708,8708,8708,8708,8708,...,1066,8708,6074,8708,8036,8708,7534,8708,8708,8708
2016-12-31,2258,2349,2349,2349,2349,2349,2349,2349,2349,2349,...,250,2349,1319,2349,1957,2349,1840,2349,2349,2349
2017-01-31,590,635,635,635,635,635,635,635,635,635,...,81,635,432,635,590,635,590,635,635,635
2017-02-28,3548,3576,3576,3576,3576,3576,3576,3576,3576,3576,...,740,3576,3119,3576,3500,3576,3436,3576,3576,3576
2017-03-31,8026,8094,8094,8094,8094,8094,8094,8094,8094,8094,...,1211,8094,7019,8094,7786,8094,7714,8094,8094,8094
2017-04-30,4649,4762,4762,4762,4762,4762,4762,4762,4762,4762,...,541,4762,3152,4762,4328,4762,4232,4762,4762,4762
2017-05-31,4336,4396,4396,4396,4396,4396,4396,4396,4396,4396,...,579,4396,2964,4396,4224,4396,4171,4396,4396,4396
2017-06-30,3951,3999,3999,3999,3999,3999,3999,3999,3999,3999,...,469,3999,2698,3999,3811,3999,3719,3999,3999,3999
2017-07-31,6924,6968,6968,6968,6968,6968,6968,6968,6968,6968,...,806,6968,4418,6968,6485,6968,6270,6968,6968,6968
2017-08-31,4264,4314,4314,4314,4314,4314,4314,4314,4314,4314,...,508,4314,2642,4314,4176,4314,3936,4314,4314,4314
2017-09-30,11565,11792,11792,11792,11792,11792,11792,11792,11792,11792,...,2203,11792,6371,11792,9855,11792,9143,11792,11792,11792
2017-10-31,4448,4791,4791,4791,4791,4791,4791,4791,4791,4791,...,460,4791,482,4791,1912,4791,528,4791,4791,4791

In [79]:
plot_time_line(df.groupby(pd.TimeGrouper(freq='M')).count())